certifi
click
cryptography
Flask
Flask-Cors
Flask-SQLAlchemy
greenlet
gunicorn
idna
Jinja2
limits
MarkupSafe
PyMySQL
python-dotenv
requests
six
SQLAlchemy
urllib3
Werkzeug
Flask-Limiter
prometheus-flask-exporter
