certifi
click
cryptography
Flask
Flask-Cors
Flask-Limiter
Flask-Session
Flask-SQLAlchemy
greenlet
gunicorn
idna
Jinja2
limits
MarkupSafe
opentelemetry-distro
opentelemetry-exporter-otlp
prometheus-flask-exporter
PyMySQL
python-dotenv
requests
six
SQLAlchemy
urllib3
